{% extends 'base.html' %}

{% block content %}
{% load static %}
<div id="about-page-container">

    <!-- Header -->
    <div>
        <div>
            <h2>ABOUT</h2>
        </div>
    </div>
    <hr id="about-hr">
    <div>
        <h1>THE PROJECT</h1>

        <p><i>The 2023 - 2024 Google NYC Digital Memory Archive</i> is a project centering the worker narrative in tech
            labor struggles in the wake of the ongoing genocide of the Palestinian people. How have Google workers engaged
            in labor organizing through No Tech For Apartheid (NOTA) in 2024? What are some of their experiences as they
            build worker power to oppose Project Nimbus? Seeking to combat the silencing around the nature of labor organizing
            by Google (GOOG), this project will feature an annotated historical timeline of NOTA+GOOG NYC events, as well as an
            archive of press interviews, personal journal entries, art, zines/flyers, newspapers, stickers, images, and legal
            documents. The target audience of this project is mainly NOTA, Google, and wider tech workers interested in labor
            organizing. As far as I can tell, there are no other digital memory projects addressing the same issue, though
            Memory Work Los Angeles is a great digital memory project focusing on documenting worker organizing. This project
            is inspired by counter-archives, especially as it relates to the often suppressed labor narratives of workers in
            the tech industry.
        <h3>What does the future hold?</h3>
        <p>In the future, Zelda hopes to expand the focus beyond just the scope of their own personal experiences. NOTA has been
            organizing since 2021, and they only joined in 2023. Zelda hopes to capture different local NOTA organizing, since
            there are multiple NOTA hubs across the US and abroad. As such, this archive could be organized by different
            locations of tech labor organizing at Google. Lastly, Zelda wishes to bring in more tech workers. Although NOTA has
            been largely focused on dropping Project Nimbus, which involves Google and Amazon, there are plenty of other
            ways that the wider tech industry is implicated in the surveillance and genocide of the Palestinian people.
        </p>
    </div>
    <hr id="about-hr">
    <div>
        <h1>NO TECH FOR APARTHEID</h1>

        <p>In May 2021, during the repressive violence in Sheikh Jarrah and al-Aqsa Mosque in Palestine,
            Jewish Diaspora Solidarity, along with Palestinian Googlers and members of AWU
            <a href="https://www.theverge.com/2021/5/18/22441236/jewish-google-employees-support-palestine-letter-anti-zionism-israel">wrote a petition, gathered signatures and released it publicly</a>.
            While writing this letter, we learned that Google and Amazon signed the Project Nimbus contract
            for $1.2B the same week, while bombs were being dropped in Gaza and Palestinians were being displaced,
            jailed and terrorized in the West Bank and Jerusalem. Releasing the letter publicly got us connected
            with organizers at Amazon that were planning something similar, and sparked additional letters from
            other tech companies including Apple. This also brought us into contact with organizers from MPower
            Change and JVP. Collectively workers from Amazon and Google and organizers from MPower Change and
            JVP started the NoTechForApartheid (NOTA) campaign, sponsored by these same orgs. Prior to October 7th,
            NOTA was a relatively small, but dedicated group. After October 7th, with renewed support driven by the
            moment, NOTA rapidly expanded as we brought in many new people, including folks from outside
            Google/Amazon, and began coordinating more directly across companies. NOTA is still growing,
            and we're continuously working on staying organized as we expand.
        </p>
        <h3>What is Project Nimbus?</h3>
        <p>
            Project Nimbus is a $1.2 billion dollar contract between Google, Amazon, and the Israeli government
            to provide the Israeli government with a local cloud infrastructure. Google is directly providing
            the Israeli government with “commercial use” AI/ML including “facial detection, automated image
            categorization, object tracking, and even sentiment analysis” — the potential surveillance/military
            use of this AI is rather obvious (via <a href="https://theintercept.com/2022/07/24/google-israel-artificial-intelligence-project-nimbus/">The Intercept</a>).
            Although Google claims that this is not a military contract, the Israeli Defense Forces (IDF) is heavily
            involved in the contract, to the point that they were involved in negotiations and evaluation of companies.
            Oracle was rejected by the IDF because, amongst other things, it lacked support for “advanced services
            needed for big data analysis, which are necessary for supporting artificial intelligence and machine
            learning technology” (via <a href="https://www.calcalistech.com/ctech/articles/0,7340,L-3914643,00.html">Calcalist</a>).
        </p>
    </div>

    <hr id="about-hr">
    <div>
        <h1>WHO IS ZELDA?</h1>
        <div class="about-bio">
            <div class="about-pic">
                <img src="{% static '/images/zelda.jpeg' %}">
            </div>
            <div class="about-bio-text">
                <p>Zelda Marcela Montes is a non-binary Latine software engineer and an M.A. student in Digital
                    Humanities at the CUNY Graduate Center. After learning how to code in a high school summer program,
                    Zelda continued pursuing their interest in technology, ultimately graduating from Yale University with a
                    B.A. in Computer Science in May of 2022. Throughout their time at Yale, Zelda worked multiple part-time jobs
                    and served in community roles advocating for underrepresented and marginalized folks in tech during the
                    semester, and worked multiple Software Engineering and Data Science internships during the summers.
                    Zelda’s research interests include urban, gender, and ethnic studies, and they are often looking for ways to
                    bring these areas of passion into the work they do in technology.
                </p>
                <P>Zelda joined No Tech For Apartheid while working as a software engineer at Google in November 2023. After
                    being fired and arrested due to a sit-in protesting Google's Project Nimbus on April 16th, 2024, Zelda has
                    been spending their free time reading, protesting, and organizing workers further with NOTA. They are responsible
                    for creating this web application in Python and Django, designing the API to handle retrieving the archival
                    materials and pressfrom the Baserow database, and constructing the annotated timeline of NOTA+GOOG NYC events.
                </P>
            </div>
        </div>
    </div>

    <hr id="about-hr">
    <div>
        <h3 class="womens-rights">Special Thanks To...</h1>
            <p>The City University of New York Graduate Center, the <a
                href="https://www.gc.cuny.edu/digital-humanities">M.A. Program in Digital Humanities</a>,
                and Professor Borrachero for encouraging my academic pursuits that are deeply interconnected
                to the struggles that we as humanity face collectively. 
            </p>
    </div>
</div>
{% endblock content %}