{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="page-container">
    <h2>ORAL HISTORY INTERVIEWS</h2>
    <div class="caption" style="font-size:21px; letter-spacing: 0.23px; font-weight: 700;">
        The oral history interview videos featured on this site were conducted with NOTA organizers currently based in NYC during the Fall of 2025. More interviews are expected to be uploaded to the site by Spring 2026.
    </div>
    <hr style="border-top: 2px solid #5C5B5B;">

    <div id="interviews_container">
        <div class="interview_div">
            <a href="/interview/Mahima">
                <div>
                    <h3>Mahima</h3>
                    <img class="video_thumbnail_img" src="https://oral-history-interviews.nyc3.digitaloceanspaces.com/thumbnails/mahima_thumbnail.jpeg">
                </div>
            </a>
        </div>

        <div class="interview_div">
            <a href="/interview/Hasan">
                <div>
                    <h3>Hasan</h3>
                    <img class="video_thumbnail_img" src="https://oral-history-interviews.nyc3.digitaloceanspaces.com/thumbnails/hasan_thumbnail.JPG">
                </div>
            </a>
        </div>

        <div class="interview_div">
            <a href="/interview/Mohammad">
                <div>
                    <h3>Mohammad</h3>
                    <img class="video_thumbnail_img" src="https://oral-history-interviews.nyc3.digitaloceanspaces.com/thumbnails/mohammad_thumbnail.jpeg">
                </div>
            </a>
        </div>
         <div class="interview_div">
            <a href="/interview/Nicole">
                <div>
                    <h3>Nicole</h3>
                    <img class="video_thumbnail_img" src="https://oral-history-interviews.nyc3.digitaloceanspaces.com/thumbnails/nicole_thumbnail.JPG">
                </div>
            </a>
        </div>
    </div>
    <hr style="border-top: 2px solid #5C5B5B;">

    <h3>Resources</h3>
    <div>
        <p>
            Before conducting any interviews, I first obtained approval from the Institutional Review Board. In doing so, I prepared an <a id="resources" href="{% static '/resources/informed_consent_form.pdf' %}" target="_blank">Informed Consent Form</a> describing the project and the expectations around participation for each interviewee to sign, an <a id="resources" href="{% static '/resources/informed_consent_form.pdf' %}" target="_blank">Interview Guide</a> detailing the overall day-of process and guiding questions, a <a id="resources" href="{% static '/resources/informed_consent_form.pdf' %}" target="_blank">Release Form</a> to grant uploading the interviews to the archive site, and a <a id="resources" href="{% static '/resources/informed_consent_form.pdf' %}" target="_blank">Recruitment Strategy</a> that includes a short screening questionnaire for finding project participants. These resources are linked here so that other researchers and organizers can refer to them as needed.
        </p>
    </div>
</div>
{% endblock content %}
