{% extends 'base.html' %}

{% block content %}
<div class="page-container">
    <div>
        <h2>ORAL HISTORY INTERVIEW</h2>
        <h1>{{ name }}</h1>
        <hr style="border-top: 2px solid #5C5B5B;">
    </div>

    <div style="width: 90%; justify-self: center;">
        <video controls controlslist="nodownload">
            <source src="{{ video_link }}" type="video/mp4" />
        </video>
    </div>

    <br>

    <div>
        <p>
            For anyone interested in accessing the video transcription file, please get in touch via e-mail at <a href="mailto:zelda@montes.earth">zelda@montes.earth</a>. Transcriptions will be made available depending on use case, as long as there are commitments to avoid uploading the data to AI tools that cede ownership of the interview data.
        </p>
        {% if name == "Nicole" %}
            <p>
                <u>NOTE</u>: Nicole's interview has audio issues, and thus does not have captions nor a transcription at the moment. The oral history interview will be refilmed and uploaded to replace this video by Spring 2026.
            </p>
        {% endif %}
    </div>

{% endblock content %}
