{% extends 'base.html' %}

{% block content %}
{% load static %}
<div id="timeline-page-container">
  <div>
    <h2>TIMELINE</h1>
  </div>
  <div style="width: 400px;">
    <h1>NOTA + GOOG NYC</h1>
  </div>
  <div class="caption" style="font-size:21px; letter-spacing: 0.23px; font-weight: 700;">
    2023 - 2024
  </div>
  <hr style="border-top: 2px solid #5C5B5B;">

  <div class="timeline">
    <div class="tcontainer left">
      <div class="tcontent">
        <h2 style="color: var(--main-bg-color);">Art Build</h2>
        <div>
          <h4 style="font-size:15px; letter-spacing: 0.13px; color: var(--main-bg-color)">
            <i>Sunday, November 26th, 2023</i>
          </h4>
        </div>
        <hr style="border-top: 1px solid #96fa32; margin-top: 0;">
        <p style="color: var(--main-bg-color);">
          Zelda met NYC-based No Tech For Apartheid members in person for the first time.
          That night brought forth the birth of our banner, which has come to most of our
          protests, pickets, and events.
        </p>
        <div style="display: flex; flex-wrap: wrap; gap: 5px;">
          <a href="/archive/48"><button id="press">see our banner here &nearr;</button></a>
          <a href="/archive/52"><button id="press">banner on 2023-11-29 &nearr;</button></a>
          <a href="/archive/53"><button id="press">banner on 2023-12-08 &nearr;</button></a>
          <a href="/archive/56"><button id="press">banner on 2023-12-23 &nearr;</button></a>
          <a href="/archive/60"><button id="press">banner on 2024-01-27 &nearr;</button></a>
          <a href="/archive/61"><button id="press">banner on 2024-02-13 &nearr;</button></a>
          <a href="/archive/63"><button id="press">banner on 2024-03-02 &nearr;</button></a>
          <a href="/archive/65"><button id="press">banner on 2024-03-04 &nearr;</button></a>
          <a href="/archive/67"><button id="press">banner on 2024-03-30 &nearr;</button></a>
          <a href="/archive/68"><button id="press">banner on 2024-04-06 &nearr;</button></a>
        </div>
      </div>
    </div>
    <div class="tcontainer right">
      <div class="tcontent">
        <h2 style="color: var(--main-bg-color);">NYC Vigil for Mai Ubeid</h2>
        <div>
          <h4 style="font-size:15px; letter-spacing: 0.13px; color: var(--main-bg-color)">
            <i>Tuesday, November 28th, 2023</i>
          </h4>
        </div>
        <hr style="border-top: 1px solid #96fa32; margin-top: 0;">
        <p style="color: var(--main-bg-color);">
          Mai Ubeid was a software engineer and member of Gaza Sky Geeks, a tech community
          backed by Google for Startups. She landed a Google-backed internship after graduating
          valedictorian of her university class. She was diagnosed with muscular dystrophy and
          began using a wheelchair at the age of 12, and she dreamed of founding a startup to
          support people living with disabilities like herself. Instead, she was martyred in
          an Israeli airstrike.
          <br>
          We hosted a vigil in her honor in NYC on Tuesday, November 28, 2023 at 5pm EST at 14th
          Street Park, in order to provide a space for our community to mourn and honor Mai
          Ubeid and all Palestinian lives lost.
        </p>
        <div style="display: flex; flex-wrap: wrap; gap: 5px;">
          <a href="/archive/51/"><button id="press">vigil pictures here &nearr;</button></a>
        </div>
      </div>
    </div>
    <div class="tcontainer left">
      <div class="tcontent">
        <h2 style="color: var(--main-bg-color);">Tabling in NYC Begins</h2>
        <div>
          <h4 style="font-size:15px; letter-spacing: 0.13px; color: var(--main-bg-color)">
            <i>Thursday, December 21st, 2023</i>
          </h4>
        </div>
        <hr style="border-top: 1px solid #96fa32; margin-top: 0;">
        <p style="color: var(--main-bg-color);">
          Zelda began tabling in NYC in an effort to educate workers in the office about
          Project Nimbus. Tabling became very critical for our relational basebuilding.
          Over the course of the following months, tabling expanded to 5 other offices:
          Seattle, Kirkland, San Francisco, Sunnyvale, and San Bruno. 
        </p>
        <div style="display: flex; flex-wrap: wrap; gap: 5px;">
          <a href="/archive/55/"><button id="press">tabling on 2023-12-21 &nearr;</button></a>
          <a href="/archive/57/"><button id="press">tabling on 2023-12-26 &nearr;</button></a>
          <a href="/archive/4/"><button id="press">ASK ME ABOUT PROJECT NIMBUS &nearr;</button></a>
          <a href="/archive/5/"><button id="press">what is project nimbus? &nearr;</button></a>
          <a href="/archive/6/"><button id="press">ASK US ABOUT PROJECT NIMBUS &nearr;</button></a>
          <a href="/archive/62/"><button id="press">tabling on 2024-02-15 &nearr;</button></a>
        </div>
      </div>
    </div>
    <div class="tcontainer right">
      <div class="tcontent">
        <h2 style="color: var(--main-bg-color);">Day of Solidarity with Palestine</h2>
        <div>
          <h4 style="font-size:15px; letter-spacing: 0.13px; color: var(--main-bg-color)">
            <i>Tuesday, February 13th, 2024</i>
          </h4>
        </div>
        <hr style="border-top: 1px solid #96fa32; margin-top: 0;">
        <p style="color: var(--main-bg-color);">
          No Tech For Apartheid (NOTA) Google organizers hosted a Day of Solidarity with
          Palestine across the NYC, San Francisco, Seattle, and London offices. Several
          participants were doxxed on Twitter, and pictures of them shared in internal
          mailing lists and on Twitter.
        </p>
      </div>
    </div>
    <div class="tcontainer left">
      <div class="tcontent">
        <h2 style="color: var(--main-bg-color);">Mind the Tech Conference Disruption</h2>
        <div>
          <h4 style="font-size:15px; letter-spacing: 0.13px; color: var(--main-bg-color)">
            <i>Monday, March 4th, 2024</i>
          </h4>
        </div>
        <hr style="border-top: 1px solid #96fa32; margin-top: 0;">
        <p style="color: var(--main-bg-color);">
          At a Google-sponsored Israeli tech conference in NYC, a brave Google Cloud engineer with NOTA disrupted a presentation by Google's Israel Director, Barak Regev, demanding that Google STOP using worker labor to power the genocide against Palestinians. NOTA's <a href="https://www.instagram.com/notechforapartheid/p/C4GVfGruSn8/">video</a> of the worker standing up for their rights went viral, with some reposts reaching up to 8 million views and generating widespread global support, including from Palestinians in Gaza. The NOTA disruptor was kicked out of the conference, and subsequently joined the NOTA rally taking place outside. Three days later, Google fired this worker in a clear cut act of retaliation against its own worker for speaking up about the terms and conditions of their labor.
        </p>
        <div style="display: flex; flex-wrap: wrap; gap: 5px;">
          <a href="/archive/62/"><button id="press">art build! &nearr;</button></a>
          <a href="/archive/63/"><button id="press">conference disruption &nearr;</button></a>
        </div>
      </div>
    </div>
    <div class="tcontainer right">
      <div class="tcontent">
        <h2 style="color: var(--main-bg-color);">Sit-in Against Project Nimbus</h2>
        <div>
          <h4 style="font-size:15px; letter-spacing: 0.13px; color: var(--main-bg-color)">
            <i>Tuesday, April 16th, 2024</i>
          </h4>
        </div>
        <hr style="border-top: 1px solid #96fa32; margin-top: 0;">
        <p style="color: var(--main-bg-color);">
          Dozens of Google workers took part in a coordinated set of civil resistance actions
          at Google offices around the United States. Some workers occupied Google's New York
          offices. Others occupied the Sunnyvale, California, office of Thomas Kurian,
          the CEO of Google Cloud. This protest was an escalation of the ongoing No Tech for
          Apartheid (NOTA) campaign, which has been demanding for years that Google and Amazon
          cancel Project Nimbus. In response, Google had 9 of their own employees arrested,
          and fired over 50 employees in retaliation.
        </p>
        <div style="display: flex; flex-wrap: wrap; gap: 5px;">
          <a href="/archive/25/"><button id="press">sit-in zine &nearr;</button></a>
          <a href="/archive/68/"><button id="press">sit-in banner &nearr;</button></a>
          <a href="/archive/69/"><button id="press">playing uno during the sit-in &nearr;</button></a>
          <a href="/archive/7/"><button id="press">arrest document &nearr;</button></a>
          <a href="/archive/41/"><button id="press">some interview notes &nearr;</button></a>
          <a href="/archive/42/"><button id="press">who is zelda? &nearr;</button></a>
          <a href="/archive/43/"><button id="press">press conference prep &nearr;</button></a>
          <a href="/archive/44/"><button id="press">more interview notes &nearr;</button></a>
          <a href="/archive/71/"><button id="press">charges dropped! &nearr;</button></a>
          <a href="/archive/11/"><button id="press">decline to prosecute &nearr;</button></a>
          <a href="/archive/36/"><button id="press">journal entry &nearr;</button></a>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock content %}